.tabbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.tabbar-leftBtns {
    display: flex;
}

.tabbar-leftBtns button {
    border: 1px solid #BF2A2F;
    border-radius: 3px;
    width: 76px;
    height: 34px;
    display: flex;
    justify-content: center;
    line-height: 34px;
    background: none;
    color: #BF2A2F;
    font-size: 14px;
    margin-right: 10px;
}

.tabbar-leftBtns button i {
    font-size: 18px;
    margin-right: 6px;
    font-size: 14px;
}

.tabbar-rightBtns button {
    width: 120px;
    height: 34px;
    background: none;
    background-color: #BF2A2F;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 3px;
}